@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --spacing: 5rem;
    --letter-spacing-multiplier: -0.045;

    --transition: .5s ease-in-out;
}

* {
    transition: var(--transition);
    @apply m-0 p-0 box-border
}

._nitlix {
    @apply relative overflow-hidden z-0 w-full flex flex-col justify-center items-center;

    >* {
        @apply px-[var(--spacing)];
    }
}

body {
    @apply text-[var(--primary)] bg-[var(--back)] grid place-items-center lg:overflow-hidden;
}

h1, h2, h3, h4, h5, p, span, a {
    letter-spacing: calc(var(--font-size) * var(--letter-spacing-multiplier));
    font-size: var(--font-size);
}

h1,h2,h3,h4,h5 {
    @apply leading-[1.1];
}

h1 {
    @apply font-[800];
    --font-size: 4rem;
}

h2 {
    @apply font-bold;
    --font-size: 3rem;
}

h3 {
    @apply font-bold;
    --font-size: 2rem;
}

h4 {
    @apply font-bold;
    --font-size: 1.5rem;
}

h5 {
    @apply font-bold;
    --font-size: 1.25rem;
}

p {
    @apply leading-[1.3] font-medium text-[var(--secondary)];
    --font-size: 1rem;

    &.big {
        @apply font-semibold;
        --font-size: 1.3rem;
    }
}
    
a {
    @apply no-underline text-[var(--primary)];
}

button {
    @apply cursor-pointer outline-none border-0 font-[inherit];
}

input {
    @apply outline-none font-[inherit];
}