@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --spacing: 5rem;
    --letter-spacing-multiplier: -0.045;

    --transition: .5s cubic-bezier(0.175,0.885,0.32,1.275);
}

* {
    transition: var(--transition);
}

._nitlix {
    position: relative;
    overflow-x: hidden;
    z-index: 0;

    >* {
        padding-left: var(--spacing);
        padding-right: var(--spacing);
    }
}

body {
    color: var(--primary);
    background: var(--back);
}

h1, h2, h3, h4, h5, p, span, a {
    letter-spacing: calc(var(--font-size) * var(--letter-spacing-multiplier));
    font-size: var(--font-size);
}

h1,h2,h3,h4,h5 {
    line-height: 1.1;
}

h1 {
    font-weight: 800;
    --font-size: 4rem;
}

h2 {
    font-weight: 700;
    --font-size: 3rem;
}

h3 {
    font-weight: 700;
    --font-size: 2rem;
}

h4 {
    font-weight: 700;
    --font-size: 1.5rem;
}

h5 {
    font-weight: 700;
    --font-size: 1.25rem;
}

p {
    line-height: 1.3;
    font-weight: 500;
    --font-size: 1rem;
    color: var(--secondary);

    &.big {
        font-weight: 600;
        --font-size: 1.3rem;
    }
}
    
a {
    text-decoration: none;
    color: var(--primary);
}

button {
    outline: none;
    border: none;
    font-family: inherit;
}

input {
    font-family: inherit;
}