body.dark {
    --primary: #FFF;
    --secondary: #ffffffb2;


    --back: #000;
    --back2: #0a0a0a;

    --back-trans: rgba(0, 0, 0, 0.518);

    --shadow: rgba(255, 255, 255, 0.459);
    --shadow2: rgba(255, 255, 255, 0.381);
    --shadow3: rgba(255, 255, 255, 0.247);
}

body.light {
    --primary: #000;
    --secondary: #000000b2;


    --back: #FFF;

    --shadow: rgb(178, 178, 178);
}